template(name='donate')
    .ui.action.input
        input.donate_amount(type='number' min='1' placeholder='donation amount')
        .ui.icon.button.start_donation   
            i.right.chevron.icon
