template(name='nav')
    .ui.grid
        .row
            .center.aligned.sixteen.wide.column
                a.ui.icon.large.button(href='/')
                    i.yin.yang.icon
                a.ui.icon.large.button(href='/users')
                    i.users.icon
                unless currentUser
                    a.ui.button(href='/login') 
                        | login
                    a.ui.button(href='/register')
                        | register
                if currentUser
                    unless logging_out
                        a.ui.large.button(href="/user/#{currentUser._id}")
                            //- i.user.outline.icon
                            span #{currentUser.name} 
                    if logging_out
                        .ui.button
                            i.loading.circle.notch.icon
