body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /* font-size: 110% !important; */
    /*line-height: 200% !important;*/
    background: rgba(0,0,0,.86) !important;
    filter: invert(.9) !important;
    /* background: rgba(250, 250, 250, .05) !important */
    /* background: #0e0e44 !important; */
}

/* .ui.image:not(.avatar), .label,  img:not(.avatar) { */
img {
    filter: invert(1) !important;
}
i.green.icon, i.red.icon{
    filter: invert(1) !important;
}

.button{
    margin: .2em !important;
}

.ui.button:not(.circular){
    border-radius: 10px !important;
}

.ui.segment:not(.circular){
    border-radius: 7px !important;
}

.label{
    border-radius: 7px !important;
    margin: .2em !important;
}

.-autocomplete-container {
    margin-top: 10px !important;
}


.spacer {
  height: 10px;
}

.inline {
  display:inline !important;
  padding-right: 5px !important;
  margin-right: 0px !important;
  /* margin: .5em !important;2 */
}

.rounded {
    border-radius: 10px !important
}

.body_view {
  font-size: 120% !important;
  color: grey !important;
  line-height: 180% !important;
}

.full_body_view {
  font-size: 130% !important;
  line-height: 170% !important;
  margin: 1em !important;
}

.uppercase {
  text-transform: uppercase;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:101vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}
.mediumscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:500px;
	/*max-height:85vh;*/
	padding-top: 1em;
	margin-top: .5em;
	/*padding-left: 1em;*/
}
.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:100px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

.smallcolumn{
	max-height:300px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}



.f13 {
  font-size: 400% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f13 {
  font-size: 300% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f11 {
  font-size: 250% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f10 {
  font-size: 200% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f9 {
  font-size: 180% !important;
  line-height: 120% !important;
  margin-bottom: 5px !important; }
.f8 {
  font-size: 160% !important;
  line-height: 160% !important; }
.f7 {
  font-size: 140% !important;
  line-height: 140% !important; }
.f6 {
  font-size: 120% !important;
  line-height: 120% !important; }
.f5 {
  font-size: 110% !important;
  line-height: 110% !important; }
.f4 {
  font-size: 100% !important;
  line-height: 100% !important; }
.f3 {
  font-size: 90% !important;
  line-height: 90% !important; }
.f2 {
  font-size: 70% !important;
  line-height: 70% !important; }
.f1 {
  font-size: 50% !important;
  line-height: 50% !important; }
.f0 { display:none; }
