body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /* font-size: 110% !important; */
    /* line-height: 200% !important; */
    background: rgba(0,0,0,.8) !important;
    filter: invert(.8) !important;
    /* background: rgba(250, 250, 250, .05) !important */
    /* background: #0e0e44 !important; */
}

/* .ui.image:not(.avatar), .label,  img:not(.avatar) { */
.invert {
    filter: invert(1) !important;
}
/* i.green.icon, i.red.icon{
    filter: invert(1) !important;
} */

.ui.green.button, .ui.red.button{
    filter: invert(1) !important;
}

.button{
    margin: .2em !important;
}


.label{
    margin: .2em !important;
    border-radius: 8px;
}

.-autocomplete-container {
    margin-top: 10px !important;
}


.spacer {
  height: 10px;
}


.inline {
  display:inline !important;
  padding-right: 5px !important;
  margin-right: 0px !important;
  /* margin: .5em !important;2 */
}

@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:101vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lowercase {
    text-transform: lowercase !important;
}


.global_container{
    transition: transform .25s; /* Animation */
    /* padding-top: 5em !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}



input:not(.no_format){
    /* -webkit-border-radius: 10px !important; */ */
    /* border-radius: 10px !important; */
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    /* font-size: 120% !important; */
    -moz-border-radius: 50px !important;
    /* border-radius: 50px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    /* background: rgba(250, 250, 250, 0.9) !important; */
    opacity: 1;
}


.ui.input{
    border-radius: 10px !important;
    /* border-radius: 10px !important; */
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0}
}



.segment, .input, .header {
  animation: fadein .25s;
}


@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:101vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}

.scrolling::-webkit-scrollbar {
    display: none;
}
