body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /* font-size: 110% !important; */
    /*line-height: 200% !important;*/
    background: rgba(0,0,0,.8) !important;
    filter: invert(.9) !important;
    /* background: rgba(250, 250, 250, .05) !important */
    /* background: #0e0e44 !important; */
}

/* .ui.image:not(.avatar), .label,  img:not(.avatar) { */
img {
    filter: invert(1) !important;

}

.button{
    margin: .3em !important;
}
.spacer {
  height: 10px;
}

.body_view {
  font-size: 150% !important;
  line-height: 170% !important;
}

.uppercase {
  text-transform: uppercase;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
#main {
    /* margin-top:20px; */
    min-height: 120vh;
    height: 100%;
    /* min-height: 500px; */
    /* bottom: 0; */
}
.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:101vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}
.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:100px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

.smallcolumn{
	max-height:300px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}
