template(name='media')
    +page slug='media'
    

template(name='page')
    .ui.padded.stackable.grid
        .centered.row
            .fourteen.wide.column
                with page_doc
                    if is_admin
                        a.ui.button(href="/m/page/#{_id}/edit")
                            i.shield.icon
                            |edit page
                    if show_title
                        .ui.center.aligned.header #{title}
                    +html_view key='content'
        unless page_doc
            if is_admin
                .ui.button.create_page
                    i.plus.icon
                    |create page
